*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    color: #ededed;
}
.hearder {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    font-size: 25px;
    font-weight: 500;
    transition: .3s;
}
.navbar a:hover {
    color: #ffb400;
}
.home {
    position:relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background: url(img1.wallspic.com-digital_art-art-life_must_go_on-tree-artist-10240x5760.jpg) no-repeat ;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content {
    max-width: 600px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700 ;

}
.home-content h1 {
    font-size: 60px;
    font-weight: 700 ;
    margin: -3px 0;
}
.home-content p {
    font-size: 20px;
    font-weight: 500 ;
    margin: 15px 0 20px;
    line-height: 1.5;
}
